{% extends 'base.html' %}
{% block body %}
<!-- Notes -->
<section class="text-dark p-5 text-left">
    <div class="container">
        <div>
            <div>
                <p>
                    Unit 2: Differentiation: Definition and Fundamental Properties

                    Limits Definition: A function (f(x)) has a limit (L) as (x) approaches (a) denoted by [\\lim_{{x\\to
                    a}} f(x) = L] if for every number (\\epsilon > 0) there exists a number (\\delta > 0) such that,
                    whenever
                    (0 < |x-a| < \\delta), we have (|f(x)-L| < \\epsilon). Key Rules: Limit of a Constant:
                        (\\lim_{{x\\to a}} c=c) Limit of a Sum: (\\lim_{{x\\to a}} [f(x) + g(x)]=\\lim_{{x\\to a}} f(x)
                        + \\lim_{{x\\to a}} g(x)) Limit of a Product: (\\lim_{{x\\to a}} [f(x) \\cdot
                        g(x)]=\\lim_{{x\\to a}} f(x) \\cdot \\lim_{{x\\to a}} g(x)) Limit of a Quotient: (\\lim_{{x\\to
                        a}} \\frac{f(x)}{g(x)}=\\frac{\\lim_{{x\\to a}} f(x)}{\\lim_{{x\\to a}} g(x)}) if (\\lim_{{x\\to
                        a}} g(x) \\neq 0) Continuity Definition: A function (f) is said to be continuous at (x=a) if
                        (\\lim_{{x\\to a}} f(x)=f(a)). If (f) is continuous at every point in its domain, then it is
                        simply said to be continuous. Intermediate Value Theorem (IVT): If a function (f) is continuous
                        on a closed interval ([a,b]) and (k) is any number between (f(a)) and (f(b)), then there exists
                        at least one number (c) in the interval ([a,b]) such that (f(c)=k). Derivatives Definition: The
                        derivative of a function (f) at a point (x=a), denoted (f'(a)), measures the rate at which (f)
                        changes at (x=a). It is defined by (f'(a)=\\lim_{{h\\to 0}}\\frac{f(a+h)-f(a)}{h}) if this limit
                        exists. Key Properties: Product Rule: ((fg)'=f'g + fg') Quotient Rule:
                        (\\left(\\frac{f}{g}\\right)'=\\frac{f'g - fg'}{g^2}) Chain Rule: If (y=f(u)) and (u=g(x)), then
                        (y'=dy/dx=(dy/du)(du/dx)=f'(u)g'(x)) Power Rule: If (f(x)=x^n), then (f'(x)=nx^{n-1}).
                        Applications of Derivatives Tangent lines: The tangent line to the curve of a function (f) at a
                        point (a) has the equation (y=f(a) + f'(a)(x-a)). Local Extrema: If (f'(a)=0) and (f'(x))
                        changes sign at (x=a), then (f) has a local max/min at (x=a). The Mean Value Theorem (MVT): If a
                        function (f) is both continuous on the closed interval ([a,b]) and differentiable on the open
                        interval ((a,b)), there exists at least one number (c) in ((a,b)) such that
                        (f'(c)=(f(b)-f(a))/(b-a)). Implicit Differentiation: It's a method to find the derivative of a
                        function defined implicitly. If (y) is a differentiable function of (x), and is given implicitly
                        by (F(x, y)=0), then the derivative of (y) can be found as (\\frac{dy}{dx}=-\\frac{F_x}{F_y})
                        where (F_x=\\frac {d}{dx} F(x,y)) and (F_y=\\frac {dF}{dy}) ) </p>
            </div>

        </div>
    </div>
</section>
{% endblock %}